.sidebar {
 opacity: 1.0;
 }
 
 .sidebar:hover {
 opacity: 1.0;
 }
 
 .sidebar-logo {
 padding: 1.5rem;
 }
 
 .sidebar-logo img {
   border-radius: 60%;
   -moz-border-radius: 60%;
   -webkit-border-radius: 60%;
   width: 10rem;
   margin: 0 auto;
 }


.section {
  padding: 10px 0;
}

.introduction{
  text-align: justify;
  color: #000000;
}

.resume-section h1 {
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: left;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section h1 div{
  padding-left: 5px;
}

.section h2 {
  font-size: 1.3rem;
}

.sub-header{
  font-size: 1.3rem;
  font-weight: lighter;
  color: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #000000;
  margin-top: 2em;
}


.aspectRatioPlaceholder.is-locked{
  margin: auto;
}

.graf.graf--h3.graf-after--p {
  font-size: 2em;
}

.graf.graf--h4.graf-after--p {
  font-size: 1.5em;
}

/* Timeline section */
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
	margin-top: 50px;
	margin-bottom: 1.5;
  color: #000000;
}

.strong {
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.icon {
  width: 45px;
  height: 45px;
  align-items: center;
  margin-right: -2px;
  margin-top: -2px;
}

.strongs {
  color: #C5BDDB;
  font-weight: bold;
}

.division {
  margin-top: 50px;
	margin-bottom: 0.1;
}

.role {
  color: #C5BDDB;
  font-weight: bold;
}

.company-name {
  color: #000000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.timeline-date {
	margin-top: -0.4em;
	margin-bottom: 0.3em;
	color:#F2D1CE;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.stack {
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.heading {
	margin-top: 0.2em;
	margin-bottom: 0em;
	max-width: 100%;
	font-size: 1.2em;
}

.description {
	margin-top: -0.1em;
	margin-bottom: 0;
  color: #000000;
  margin-right: 1em;
  text-align: left;
  word-wrap: break-word;
}

.logo {
	border-radius: 50%;
  border: 3px solid #C5BDDB;
	width: 7%;
	height: 7%;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.logo-certif {
	border-radius: 50%;
	width: 7%;
	height: 7%;
	float: left;
	margin-right: 1em;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  
  .timeline div {
    width: 94%;
    height: auto !important;
  }
  
}

/*Skill section CSS*/

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skill-container {
    margin-bottom: 6px;
}

.skills-text{
  padding-left: 5px;
}

/* Contact page */
.input {
  width: 100%;  
  margin: 0 auto;
  padding: 0.60rem;
  border-radius: 8px;
  font-size: 1rem; 
  box-sizing: border-box;
}

.label {
  display: block;  
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #000000;
}

.button {
  background-color: #000000;
  color:#F2D1CE;
  padding: 0.5rem 1rem;
  border:  #F2D1CE;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.textt {
  color:  #C5BDDB;
  font-weight: bold;
}

/* Project Cards */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
	body {
	background:#F0E9CE;
	padding: 40px 0px;
  font-family: 'Anton';
}
.card {
	width: 22em;
	margin: 0px auto;
	background-color: #F0E9CE;
	box-shadow: 0px 5px 20px  #000000;
    margin-top: 2em;
    margin-bottom: 2em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.card:hover .card-image img {
	width: 110%;
	filter: grayscale(0);
}
.card-image {
	height: 12em;
	position: relative;
	overflow: hidden;
}
.card-image img {
	width: 100%;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: grayscale(1);
	transition-property: filter width;
	transition-duration: .3s;
}
.card-body {
	text-align: center;
	padding: 0em 2em 1em;
	box-sizing: border-box;
}
.card-date {
	font-family: 'Source Sans Pro', sans-serif;
}
.card-date,
.card-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.card-date,
.card-exceprt,
{
	color: #606060;
}

.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #C5BDDB;
  color: #C5BDDB;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #d5f7f2;
  -moz-box-shadow: 2px 2px 0#d5f7f2;
  -ms-box-shadow: 2px 2px 0 #d5f7f2;
  box-shadow: 2px 2px 0 #d5f7f2;
}
.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 1024px) {
    .left, .right {
        align-content: center;
        float: none;
}

}